/* Importamos Tailwind */
@import "tailwindcss";

/* Global variables */
:root {
  --background: #151515; /* Onix */
  --foreground: #f7f2ec; /* Pearl */
  --font-sans: var(--font-roboto-condensed), Arial, Helvetica, sans-serif;
  --font-display: var(--font-boldonse), Georgia, serif;
}

/* Defining the theme using Tailwind (dark mode only) */
@theme inline {
  /* Global variables */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);

  /* Util aliases */
  --font-roboto: var(--font-roboto-condensed);
  --font-boldonse: var(--font-boldonse);

  /* Brand Colors */
  --color-pearl: #f7f2ec; /* Pearl (Main) */
  --color-sand: #e5e0dc; /* Sand (Second) */
  --color-blackamber: #0c0c0c; /* Blackamber */
  --color-onix: #151515; /* Onix */

  /* Manga Library */
  --color-lilah: #8a6fdc; /* Lilah (Main) */
  --color-heather: #8a79b2; /* Heather (Second) */

  /* Books Library */
  --color-ash: #738298; /* Ash (Main) */
  --color-denim: #3d4e72; /* Denim (Second) */
}

/* Basic body styles */
.font-roboto {
  font-family: var(--font-roboto);
}
.font-boldonse {
  font-family: var(--font-boldonse);
}

body {
  background: var(--color-background);
  color: var(--color-sand);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

/* Hidden scrollbars */
.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-0.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}
