/* Importamos Tailwind */
@import "tailwindcss";

/* Global variables */
:root {
  --background: #151515; /* Onix */
  --foreground: #f7f2ec; /* Pearl */
  --font-sans: var(--font-roboto-condensed), Arial, Helvetica, sans-serif;
  --font-display: var(--font-boldonse), Georgia, serif;
}

/* Defining the theme using Tailwind (dark mode only) */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  /* BRAND COLORS */
  --color-pearl: #f7f2ec; /* Pearl (Main) */
  --color-sand: #e5e0dc; /* Sand (Second) */
  --color-blackamber: #0c0c0c; /* Blackamber */
  --color-onix: #151515; /* Onix */
  /* MANGA LIBRARY */
  --color-lilah: #8a6fdc; /* Lilah (Main) */
  --color-heather: #8a79b2; /* Heather (Second) */
  /* BOOKS LIBRARY */
  --color-ash: #738298; /* Ash (Main) */
  --color-denim: #3d4e72; /* Denim (Second) */
}

/* Basic body styles */
body {
  background: var(--color-background);
  color: var(--color-sand);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

/* Hidden scrollbars */
.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
