/* Importamos Tailwind */
@import "tailwindcss";

/* Variables globales */
:root {
  --background: #151515; /* Blackamber */
  --foreground: #f7f2ec; /* Pearl */
  --font-sans: "Arial", Helvetica, sans-serif;
  --font-mono: "Courier New", Courier, monospace;
}

/* Definición del tema utilizando Tailwind (modo oscuro solamente) */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --color-lilah: #8a6fdc; /* Lilah */
  --color-heather: #8a79b2; /* Heather */
  --color-denim: #3d4e72; /* Denim */
  --color-ash: #738298; /* Ash */
  --color-pearl: #f7f2ec; /* Pearl */
  --color-sand: #e5e0dc; /* Sand */
  --color-blackamber: #151515; /* Blackamber */
  --color-onix: #2b2b2b; /* Onix */
}

/* Estilos básicos para el cuerpo */
body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
